.full-width-responsive { width: 100%; }
.three-quarter-width-responsive { width: 75%; }
.half-width-responsive { width: 50%; }
.quarter-width-responsive { width: 25%; }

.full-width { width: 1000px; }
.three-quarter-width { width: 750px; }
.half-width { width: 500px; }
.quarter-width { width: 250px; }