$errors-font-color: $red;
$errors-font-size: 14px;

@mixin errors {
  border: 1px solid $errors-font-color;
  border-radius: 10px;
  padding: 2% 0 2% 2%;
}

.errors-client-side {
  @include errors;
  width: 100%;
  margin-bottom: 20px;
}
.errors-server-side {
  @include errors;
  margin-bottom: 40px;
  width: 40%;
}

.errors-colors {
  color: $errors-font-color;
  font-size: $errors-font-size;
}