html {
  margin: 2% 5% 2% 5%;
}

// Font Styles -------------------------------------------------
.normal { font-style: normal; }
.italic { font-style: italic; }
.oblique { font-style: oblique; }

// Display and Visibility -----------------------------------------------
.block { display: block; }
.inline { display: inline; }
.display-none { display: none; }
.visibility-none { visibility: none; }

// Divs -----------------------------------------------
.inner-div { margin: 5% 15% 5% 0; }