body { background-color: #FFBF89; }
#body {
  margin: 0% 8% 5% 8%;
  padding: 40px 20px 20px 70px;
  background-color: #fffdf9;
}

// Font Styles -------------------------------------------------
.normal { font-style: normal; }
.italic { font-style: italic; }
.oblique { font-style: oblique; }

// Display and Visibility -----------------------------------------------
.block { display: block; }
.inline { display: inline; }
.display-none { display: none; }
.visibility-none { visibility: none; }

// Divs -----------------------------------------------
.inner-div { margin: 5% 15% 5% 0; }