// Margin and Padding -------------------------------------------------
.no-spacing{ margin: 0px; padding: 0px; }

.margin-all {margin: 40px; }
.margin-half-all {margin: 20px; }
.margin-quarter-all {margin: 10px; }
.margin-eighth-all {margin: 5px; }

.margin-double-right { margin-right: 80px; }
.margin-double-left { margin-left: 80px; }
.margin-double-bottom { margin-bottom: 80px; }
.margin-double-top { margin-top: 80px; }
.padding-double-right { padding-right: 80px; }
.padding-double-left { padding-left: 80px; }
.padding-double-bottom { padding-bottom: 80px; }
.padding-double-top { padding-top: 80px; }

.margin-right { margin-right: 40px; }
.margin-left { margin-left: 40px; }
.margin-bottom { margin-bottom: 40px; }
.margin-top { margin-top: 40px; }
.padding-right { padding-right: 40px; }
.padding-left { padding-left: 40px; }
.padding-bottom { padding-bottom: 40px; }
.padding-top { padding-top: 40px; }

.margin-half-right { margin-right: 20px; }
.margin-half-left { margin-left: 20px; }
.margin-half-bottom { margin-bottom: 20px; }
.margin-half-top { margin-top: 20px; }
.padding-half-right { padding-right: 20px; }
.padding-half-left { padding-left: 20px; }
.padding-half-bottom { padding-bottom: 20px; }
.padding-half-top { padding-top: 20px; }

.margin-quarter-right { margin-right: 10px; }
.margin-quarter-left { margin-left: 10px; }
.margin-quarter-bottom { margin-bottom: 10px; }
.margin-quarter-top { margin-top: 10px; }
.padding-quarter-right { padding-right: 10px; }
.padding-quarter-left { padding-left: 10px; }
.padding-quarter-bottom { padding-bottom: 10px; }
.padding-quarter-top { padding-top: 10px; }

.margin-eighth-right { margin-right: 5px; }
.margin-eighth-left { margin-left: 5px; }
.margin-eighth-bottom { margin-bottom: 5px; }
.margin-eighth-top { margin-top: 5px; }
.padding-eighth-right { padding-right: 5px; }
.padding-eighth-left { padding-left: 5px; }
.padding-eighth-bottom { padding-bottom: 5px; }
.padding-eighth-top { padding-top: 5px; }