= image_tag "italy-regions.gif", height: "750", width: "600", usemap: "#regions"
%map{ name: "regions", id: "regions"}
  %area.border{ href: "#", title: "Toscana", shape: "poly", cords: "137,145,142,140,145,139,151,146,159,151,164,153,169,159,173,157,180,162,185,160,187,163,193,160,192,157,200,154,206,157,207,160,212,159,210,166,212,175,221,177,223,180,233,179,235,182,231,186,226,193,226,195,223,198,229,204,223,207,223,209,219,214,220,224,213,231,214,237,208,243,205,242,205,247,200,252,190,250,186,253,183,251,188,246,187,242,184,240,181,237,180,233,172,231,174,224,170,222,167,220,162,224,163,215,164,207,162,202,159,196,155,192,155,183,156,175,153,167,150,163,147,160,145,154,142,154,137,145"}


= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Map_of_USA_with_state_names.svg/800px-Map_of_USA_with_state_names.svg.png", width: "960", height: "593", usemap: "#usa"

%map{ name: "usa" }

  %area{ href: "#", title: "SC", shape: "poly", coords: "735,418, 734,419, 731,418, 731,416, 729,413, 727,411, 725,410, 723,405, 720,399, 716,398, 714,396, 713,393, 711,391, 709,390, 707,387, 704,385, 699,383, 699,382, 697,379, 696,378, 693,373, 690,373, 686,371, 684,369, 684,368, 685,366, 687,365, 687,363, 693,360, 701,356, 708,355, 724,355, 727,356, 728,360, 732,359, 745,358, 747,358, 760,366, 769,374, 764,379, 762,385, 761,391, 759,392, 758,394, 756,395, 754,398, 751,401, 749,404, 748,405, 744,408, 741,409, 742,412, 737,417, 735,418" }

:javascript 
  $('area').click(function(){
    console.log("area clicked")
    alert('foo');
  });